.about {
  // height: calc(100vh - #{$header-height});
  height: 100vh;
  width: 100%;
  background-color: $clr-bg-2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-container {
  // border: 2px solid orange;
  height: 500px;
  width: $content-width;
  display: flex;
  justify-content: center;
  // margin-bottom: 10vh;
}

.about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid white;
  // box-sizing: border-box;
}

.title {
  color: $clr-white;
  font-family: $font-base;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: $header-height;
  // margin-bottom: 100px;
  position: relative;
  &::after {
    content: "";
    background-color: $clr-white;
    height: 4px;
    width: 70px;
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.profile-pic-container {
  box-sizing: border-box;
  margin-bottom: 20px;
  .pic-wrapper {
    height: calc(10vw + 70px);
    width: calc(10vw + 100px);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.profile-subtitle {
  color: $clr-white;
  font-size: $font-size-med;
  font-family: $font-base;
  font-weight: bold;
  text-align: center;
  svg {
    color: $clr-accent;
    &:hover {
      cursor: pointer;
    }
  }
}

.profile-description {
  width: 500px;
  // border: 1px solid $clr-accent;
  // box-sizing: border-box;
  font-family: $font-base;
  line-height: 2;
  p {
    color: $clr-white;
    margin-top: 10px;
    font-size: $font-size-small;
    text-align: center;
    span {
      color: $clr-accent;
    }
  }
}
