.about {
  height: calc(100vh + #{$clip-path-hack-margin});
  width: 100%;
  display: grid;
  grid-template-rows: 15vh 85vh;
  align-items: flex-end;
  justify-content: center;
  background-color: $clr-bg-2;
  margin-bottom: -$clip-path-hack-margin;
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    height: auto;
    width: auto;
    flex-direction: column;
  }
}

.about-container {
  height: 550px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    width: 80vw;
    height: 300px;
    justify-content: space-between;
    padding: 50px 0px;
  }
}

.title {
  color: $clr-white;
  font-family: $font-head;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  position: relative;
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 36px;
  }
  &::after {
    content: "";
    background-color: $clr-white;
    height: 4px;
    width: 70px;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      bottom: -15px;
    }
  }
}

.profile-pic-container {
  box-sizing: border-box;
  margin-bottom: 20px;
  .pic-wrapper {
    height: calc(10vw + 70px);
    width: calc(10vw + 100px);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.profile-subtitle {
  color: $clr-white;
  font-size: 24px;
  font-family: $font-base;
  font-weight: bold;
  text-align: center;
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    font-size: $font-size-small;
  }
  svg {
    color: $clr-accent;
    &:hover {
      cursor: pointer;
    }
  }
}

.profile-description {
  p {
    color: $clr-white;
    margin-top: 10px;
    font-family: $font-base;
    font-size: $font-size-med;
    line-height: 2rem;
    text-align: center;
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 12px;
      margin-top: none;
      line-height: 1.2rem;
    }
    span {
      font-weight: bold;
      color: $clr-accent;
    }
  }
}
