.about {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $clr-white;
}

.about-container {
  width: 68%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.profile-pic-container {
  border: 1px solid red;
  box-sizing: border-box;
  margin-bottom: 20px;
  .pic-wrapper {
    height: calc(10vw + 60px);
    width: calc(10vw + 60px);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.profile-description {
  width: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: $font-base;
  line-height: 1.4;
  h2 {
    font-size: $font-size-med;
    font-weight: bold;
    text-align: center;
  }
  p {
    margin-top: 10px;
    font-size: $font-size-med;
    text-align: center;
  }
}

.technologies {
  width: 350px;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background-color: $clr-grey;
  .tech-item {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .devicon {
      height: 100%;
      width: 100%;
    }
    p {
      color: $clr-white;
      font-family: $font-base;
      font-size: $font-size-med;
    }
  }
}
