.contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $clr-bg-2;
  clip-path: polygon(50% 7.5rem, 101% 0, 101% 101%, 0 101%, 0 0);
  -webkit-clip-path: polygon(50% 7.5rem, 101% 0, 101% 101%, 0 101%, 0 0);
  margin: 0;
  .title {
    color: $clr-white;
    font-family: $font-head;
    font-size: $font-size-title;
    text-transform: uppercase;
    margin-top: $clip-path-hack-margin;
    margin-bottom: 50px;
    position: relative;
    @media only screen and (min-device-width: 320px) and (max-device-width: $max-width-media-query) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 36px;
    }
    &::after {
      content: "";
      background-color: $clr-white;
      height: 4px;
      width: 70px;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  p {
    color: $clr-accent;
    font-family: $font-base;
    font-size: $font-size-med;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    @media only screen and (min-device-width: 320px) and (max-device-width: $max-width-media-query) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 14px;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    height: 30px;
    width: 600px;
    border: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
    color: $clr-grey;
    background-color: $clr-bg-dark;
    font-family: $font-base;
    font-weight: 700;
    margin-bottom: 1%;
    font-size: $font-size-small;
    @media only screen and (min-device-width: 320px) and (max-device-width: $max-width-media-query) and (-webkit-min-device-pixel-ratio: 2) {
      width: 80vw;
    }
    &::placeholder {
      color: $clr-grey;
      background-color: none;
      font-family: $font-base;
    }
  }
  textarea {
    height: 200px;
    width: 600px;
    padding: 12px;
    color: $clr-grey;
    background-color: $clr-bg-dark;
    font-size: $font-size-small;
    font-family: $font-base;
    font-weight: 700;
    border: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 2%;
    @media only screen and (min-device-width: 320px) and (max-device-width: $max-width-media-query) and (-webkit-min-device-pixel-ratio: 2) {
      width: 80vw;
    }
    &::placeholder {
      color: $clr-grey;
      background-color: none;
      font-family: $font-base;
    }
  }
  div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      height: 40px;
      width: 120px;
      margin: 0;
      font-size: $font-size-small;
      @media only screen and (min-device-width: 320px) and (max-device-width: $max-width-media-query) and (-webkit-min-device-pixel-ratio: 2) {
        width: 80px;
      }
    }
  }
}

.swal2-header,
.swal2-content,
.swal2-confirm {
  font-family: $font-base;
}
