footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $clr-bg-light;
  color: $clr-white;
  position: relative;
  .scroll-up {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 40px;
    background-color: $clr-accent;
    &:hover {
      top: -35px;
    }
  }
  p {
    color: $clr-white;
    font-family: $font-base;
    font-size: 14px;
    text-align: center;
    a {
      text-decoration: none;
      color: $clr-accent;
      &:hover {
        color: $clr-accent-dark;
      }
    }
  }
}

.social-icons-container {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .social-icon-div {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr-bg-2;
    &:hover {
      color: $clr-accent;
      background: $clr-accent;
    }
    &:visited {
      color: $clr-white;
    }
  }
}
