footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $clr-bg-light;
  color: $clr-white;
}

.img-container {
  height: 20px;
  width: 20px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
