header {
  height: $header-height;
  width: 100%;
  background-color:	$clr-bg-light;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $clr-accent;
  nav {
    width: $content-width;
    height: 100%;
    display: flex;
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
    }
    li a {
      color: $clr-white;
      font-size: $font-size-med;
      font-family: $font-base;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 50px;
    }
  }
}
