header {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:	#0A0D14;
  position: sticky;
  top: 0;
  z-index: 2;
  nav {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li a {
      font-size: $font-size-med;
      font-family: $font-base;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
