header {
  height: $header-height;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $clr-bg;
  position: sticky;
  top: 0;
  border-top: 1px solid $clr-bg-light;
  nav {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    ul {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li a {
      font-size: $font-size-med;
      font-family: $font-base;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
