.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.canvas-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

.intro-container {
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
