.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-bg;
}

.canvas-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-base;
  h1 {
    color: $clr-white;
    font-size: $font-size-large;
    margin-bottom: 30px;
    span {
      color: $clr-accent;
      font-weight: bold;
    }
  }
  button {
    z-index: 1;
    font-weight: bold;
    a {
      color: $clr-white;
      text-decoration: none;
      &:link {
        color: $clr-white;
      }
      &:visited {
        color: $clr-white;
      }
      &:hover {
        color: $clr-white;
      }
      &:active {
        color: $clr-white;
      }
    }
    svg {
      margin-left: 0.3em;
    }
    &:hover {
      transition: 0.25s;
      svg {
        transform: rotate(90deg);
        transition: 0.25s;
      }
    }
  }
}
