.portfolio {
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-grey;
}

.modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: calc(600px * 1.3);
  background-color: white;
}

.slider-container {
  width: 100%;
  height: calc(281px * 1.3);
  background-color: red;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  button {
    position: absolute;
    height: 10%;
    width: 5%;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .forward {
    bottom: 0;
    left: 0;
  }
  .backward {
    bottom: 0;
    right: 0;
  }
}

.slider-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  h3 {
    font-family: $font-base;
    font-size: 28px;
    color: $clr-black;
    margin-bottom: 10px;
  }
  p {
    font-family: $font-base;
    font-size: $font-size-small;
    color: $clr-black;
    line-height: 1.4;
    margin-bottom: 10px;
  }
}

.slider-description-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    height: 40px;
    border: none;
    color: $clr-white;
    background-color: $clr-accent;
    font-family: $font-base;
    font-size: $font-size-small;
    box-sizing: border-box;
    transition: 0.3s;
    &:hover {
      color: $clr-accent;
      background-color: $clr-white;
    }
    &:focus {
      outline: 0;
    }
    a {
      text-decoration: none;
      color: $clr-white;
      font-weight: bold;
      &:link {
        color: $clr-accent;
      }
      &:visited {
        color: $clr-accent;
      }
      &:hover {
        color: $clr-accent;
      }
      &:active {
        color: $clr-accent;
      }
    }
  }
  svg {
    cursor: pointer;
  }
}
