button {
  height: 50px;
  width: 200px;
  background: none;
  color: $clr-white;
  font-family: $font-base;
  font-size: $font-size-med;
  border: 2px solid $clr-accent;
  box-sizing: border-box;
  transition: 0.3s;
  &:hover {
    background-color: $clr-accent;
    border-color: $clr-accent;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}
