.title-bar {
  height: 150px;
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $clr-white;
    font-family: $font-base;
    font-size: $font-size-large;
    position: relative;
    &::after {
      content: "";
      background-color: $clr-white;
      height: 4px;
      width: 50px;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
