$clr-bg: #18121F;
$clr-bg-light: #1C1D33;
// $clr-bg: #233237;
// $clr-bg: #1f222b;
// $clr-bg-light: #66606B;
$clr-white: rgba(255, 255, 255, 1);
$clr-grey: grey;
$clr-black: black;
$clr-blue: rgb(10, 17, 153);
$clr-red: rgb(216,2,5);

$clr-accent: rgb(197,60,4);

$font-base: "Montserrat", sans-serif;

$font-size-small: 16px;
$font-size-med: 20px;
$font-size-large: 48px;

$header-height: 50px;

// rgba(255,255,255)
// rgba(242,234,190)
// rgba(245,132,26)
// rgba(197,60,4)
// rgba(216,2,5)
// rgba(10, 17, 153)
