$clr-bg: rgba(19, 18, 31, 1);
$clr-bg-light: #181533;
$clr-bg-dark: #1b1a29;
$clr-bg-2: #252934;
$clr-white: rgba(255, 255, 255, 1);
$clr-offwhite: rgb(200, 200, 200);
$clr-grey: rgb(120, 120, 120);
$clr-black: black;

$clr-red: rgb(222, 11, 15);
$clr-blue: rgb(10, 17, 153);
// $clr-blue: #928cd9;

$clr-accent: rgb(214, 28, 81);
$clr-accent-dark: #962f4b;

@import url(https://fonts.googleapis.com/css?family=Karla|Montserrat&display=swap);
$font-head: "Karla", sans-serif;
$font-base: "Montserrat", sans-serif;

$font-size-small: 16px;
$font-size-med: 20px;
$font-size-large: 40px;
$font-size-title: 52px;

$header-height: 50px;

$content-width: 75%;
$clip-path-hack-margin: 120px;

// rgba(255,255,255)
// rgba(242,234,190)
// rgba(245,132,26)
// rgba(197,60,4)
// rgba(216,2,5)
// rgba(10, 17, 153)

$max-width-media-query: 1400px;